<h1>Welcome to my App</h1>
<p>Sign up <%= link_to "here!", "#" %></p>
<a href="http://www.desigifs.com/gifs/2870/brahmanandam"><img src="http://www.desigifs.com/sites/default/files/2013/gallery_8818_2_281352.gif"/></a>                        